/* reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img{
    width: 100%;
}

.container{
    max-width:80%;
    margin:0 auto;
}

p{
    line-height: 1.2;
}

.sidebar{

    background-color: greenyellow;
    width: 25%;
    
}

.content{
    background-color: yellow;
    width:75%;
}

.header{
    background-color: red;
    height:100px;
}

.footer{
    background-color: blue;
    height: 100px;
}




.flex{
    display:flex;
    /* debug */
    height: 600px;
}

